<!-- Page content by Matthew, styling by Joshua -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>#{{ data.id }} - {{ data.name }}</title>
</head>

<body>
  {% include 'partials/nav.html' %}

  <main class="container">
    <h1 class="p-4 text-center text-black bg-white border-start border-bottom border-end border-5 border-black">
      <b>PokeInfo</b>
    </h1>
    <h3 class="p-4 text-center bg-info-subtle text-info-emphasis border border-info-subtle rounded-3">
      Pokedex
      #{{data.id}}:
      {{data.name}}
    </h3>
    <br>
    <a href="{{ url_for('search') }}"><button class="btn btn-outline-danger btn-lg w-100">Back
        to Search</button></a>
    <br>
    <br>

    <div class="p-4 container flex-column d-flex bg-light border border-dark-subtle rounded-3">
      <div class="row">
        <div class="col">
          <img src="{{data.sprites.front_default}}" alt="(No front sprite)" style="height:200px">
        </div>
        <div class="col">
          <img src="{{data.sprites.back_default}}" alt="(No back sprite)" style="height:200px">
        </div>
        <div class="col">
          <b>Type(s):</b>
          {% for type in data.types %}
          <br><mark><b>{{ type['type']['name'] }}</b></mark>
          {% endfor %}
        </div>
        <div class="col">
          <b>Physical Traits:</b>
          <br>
          Height: {{data.height /10}} m
          <br>
          Weight: {{data.weight /10}} kg
        </div>
        <div class="col">
          <b>Abilities:</b>
          {% for ability in data.abilities %}
          <br>{{ ability['ability']['name'] }}
          {% endfor %}
        </div>
        <div class="col">
          <b>Example Moves:</b>
          {% for i in range(5) %}
          <br>{{ data.moves[i]['move']['name'] }}
          {% endfor %}
          </ul>
        </div>
      </div>
      <div class="row w-25">
        <b>Listen to this Pokemon:</b>
        <audio controls>
          <source src="{{data.cries.latest}}" type="audio/ogg">
          This browser does not support audio.
        </audio>
      </div>
    </div>

    {{ bootstrap.load_css() }} {{ bootstrap.load_js() }}
</body>

</html>