<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>#{{ data.id }} - {{ data.name }}</title>
</head>

<body>
  {% include 'partials/nav.html' %}

  <main class="container">
    <h2 class="bg-primary-subtle border border-primary-subtle text-primary-emphasis text-left p-4">
      Pokemon Details
    </h2>
    <h2>{{ data.name }} - dex #{{ data.id }}</h2>

    <a href="{{ url_for('search') }}">Back to Search</a>
  </main>

  {{ bootstrap.load_css() }} {{ bootstrap.load_js() }}
</body>

</html>